# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform vars (sensitive)
*.tfvars
*.tfvars.json

# Env files
.env

# Python (backend)
__pycache__/
*.pyc

# Node (frontend)
node_modules/
build/

# Docker
*.log

# OS files
.DS_Store